@{
    ViewData["Title"] = "Football Season Builder";
}

<div class="text-center">
    <h1 class="display-4">Football Season Builder</h1>
    <p>Create your own leagues and teams and simulate a football season.</p>
    <p>To get started, click <a asp-controller="League" asp-action="AddLeague">here</a> to add a league.</p>
</div>
