@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Football Season Builder</h1>
    <p>Click <a asp-controller="Home" asp-action="League">here</a> to start a new football season.</p>
</div>
